<h1>Orders</h1>
<table class="table">
  <tr>
    <th>Order No.</th>
    <th>Agent ID</th>
    <th>Amount Sold</th>
    <th>Total Sales (RM)</th>
  </tr>
  <% @orders.each do |order| %>
    <tr>
      <% user = User.find_by(agent_id: order.agent_id) %>
      <% sales = Sale.where(order_no: order.no) %>
      <td><%= link_to "#" + order.no.to_s, order_path(order) %></td>
      <td><%= link_to user.agent_id, user_path(user) %></td>
      <td><%= sales.count > 0 ? sales.sum(&:amount) : 0 %></td>
      <td>RM <%= sales.count > 0 ? sales.sum(&:sale_price) : 0.00 %></td>
    </tr>
  <% end %>
</table>
